<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>智能化可转债项目</h1>
    <!--创建两个input输入框，定义id分别为name,age-->
    初始资金：
    <input type="text" id="initCash" name="initCash" placeholder="10000" />
    <br />
    模式：
    <input type="text" id="mode" name="mode" placeholder="双低" />
    名称:
    <input type="text" id="name" name="name" placeholder="双低" />
    <button onclick="submit()" type="button" class="btn btn-primary">
      提交
    </button>
    <br />
    <div class="ratio ratio-16x9">
      <iframe
        id="iframe"
        src="./result.html"
        title="内容"
        allowfullscreen
      ></iframe>
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
    <!--引入jQuery包用于使用ajax-->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
      function submit() {
        $.ajax({
          url: "http://localhost:5000/submit",
          type: "POST",
          data: {
            name: $("#name").val(),
            mode: $("#mode").val(),
          },
          success: function (result) {
            if (result.message == "success!") {
              console.log(result);
              // 刷新iframe
              $("#iframe").attr("src", $("#iframe").attr("src"));
            }
          },
        });
      }
    </script>
  </body>
</html>
